{% extends './base.html' %}

{% block content %}


<form>
    <label for="article-input">article to compare</label>
    <input type="text" id="article-input" name="article" value="{{ term.name }}" />
    <input type="submit" value="go" />
    <br/>
    <label for="cb-transform">transform: </label>
    <select id="cb-transform" name="transform">
        {% for t in transforms %}
            <option value="{{t.0}}" {% if current_transform == t.0 %}selected{% endif %}>{{ t.1 }}</option>
        {% endfor %}
    </select>

    <label for="cb-compare">compare by: </label>
    <select id="cb-compare" name="compare">
        {% for t in comparisons %}
            <option value="{{t.0}}" {% if current_compare == t.0 %}selected{% endif %}>{{ t.1 }}</option>
        {% endfor %}
    </select>
</form>

<hr/>

<table class="result-table">
    <thead>
        <tr>
            <td>article</td>
            <td>views per year</td>
            <td>{{ current_compare_name }}</td>
            <td>views</td>
        </tr>
    </thead>
    {% for a in correlations %}
    <tr>
        <td style="max-width: 270px">
            (<a href="{{ a.url }}" target="_blank" title="{{ a.desc }}">W</a>)
            (<a href="{{ a.corr_url }}" title="correlate from here">C</a>)
            {{ a.name }}
        </td>
        <td class="number">{{ a.count }}</td>
        <td class="number">{{ a.correlation }}</td>
        <!--<td><a href="{{ a.url }}" target="_blank">{{ a.url }}</a></td>-->
        <td>{{ a.views_decorator|safe }}</td>
    </tr>
    {% endfor %}
</table>



<script>
    $(function() {
        $("input#article-input").autocomplete({
            delay: 200,
            minLength: 2,
            source: function(request, response) {
                $.ajax({
                    url: "{% url 'wikiviews:autocomplete' %}",
                    data: {
                        q: request.term
                    },
                    success: function(data) {
                        if (data.items)
                            response(data.items);
                    }
                });
            }
        });
    });
</script>

{% endblock %}